:root {
  --primary-color: rgb(0, 0, 0);
  --primary-color-highlight: grey;
  --bs-body-bg: #000000;
  --bs-body-font-family: 'Inter', sans-serif;
}

body {
  height: 2000px;  
  padding-top: 30px;
}

a {
  text-decoration: none;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.navbar-brand {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  top: -7px;
}

.nav-link {
  font-weight: 600;
  color: rgb(255, 255, 255);
  font-family: 'Monda', sans-serif;
  margin-left: 15px;
}

.nav-link:hover {
  color: rgb(118, 118, 118);
}

.navbar-light {
  background-color: rgb(0, 0, 0) !important;
  border: none !important;
  border-width: 0 !important;
}

.navbar-toggler {
  margin-top: 11px;
  margin-left: 12px;
  width: 20px;
  height: 20px;
  position: relative;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
  border: 0;
}

.navbar-toggler span {
  margin: 0;
  padding: 0;
}

.toggler-icon {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #ffffff;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.middle-bar {
  margin-top: 0px;
}

.navbar-toggler .top-bar {
  margin-top: 0px;
  transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  margin-top: 0px;
  transform: rotate(-135deg);
}

.navbar-toggler.collapsed .top-bar {
  margin-top: -20px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  margin-top: 20px;
  transform: rotate(0deg)
}

.showcase {
  padding-top: 140px;
  padding-bottom: 260px;
  background: rgb(0, 0, 0);
  background: radial-gradient(circle, rgb(65, 65, 65) 0%, rgb(37, 37, 41) 38%, rgba(0,0,0,1) 80%);
}

.container-showcase {
  margin-top: 100px;
}

h1 {
  font-family: 'Chonburi', serif;
  color: white;
  font-size: 50px;
}

p {
  font-family: 'Monda', sans-serif;
  font-size: 20px;
}

.about {
  background-image: url('../assets/bg-image.jpg') !important;
  background-color: whitesmoke;
}

.container-about {
  padding-top: 70px;
  padding-bottom: 70px;
  padding: 20px;
}

.h2-about {
  font-family: 'Fira Mono', monospace;
  font-size: 23px;
  color: black;
}

.content {
  background: rgb(0, 0, 0);
  background: radial-gradient(circle, rgb(65, 65, 65) 0%, rgb(37, 37, 41) 38%, rgba(0,0,0,1) 80%);
}

h2 {
  font-family: 'Chonburi', serif;
  color: white;
  font-size: 45px;
  text-align: center;
}

/* Media query for large screens (wider than 992 pixels) */
@media (min-width: 992px) {
  .card-whole {
    max-width: 40%; 
    margin: auto;   
  }
}

/* Media query for medium screens (768 - 991 pixels wide) */
@media (min-width: 768px) and (max-width: 991px) {
  .card-whole {
    max-width: 30%;
    margin: auto;  
  }
}

.card-whole:hover {
  transform: scale(1.005);
  box-shadow: 0 0 10px 5px rgb(162, 162, 162);
  border: rgb(255, 255, 255);
  transition: all 0.5s;
}

.card-whole:active {
  background-color: rgb(87, 87, 87) !important;
  transform: scale(1.005);
  box-shadow: 0 0 10px 5px rgb(162, 162, 162);
  border: rgb(255, 255, 255);
}

.card-title {
  font-family: 'Fira Mono', monospace;
  font-size: 25px;
  color: white;
  text-align: center;
}

.card-text {
  font-family: 'Fira Mono', monospace;
  font-size: 20px;
  color: white;
  text-align: center;
}

.btn {
  border-radius: 50px;
  background-color: white;
  color: black;
  font-size: 19px;
}

.btn:hover {
  background-color: rgb(104, 104, 104);
  transform: scale(1.05);
  transition: all 0.5s;
}

.btn-view {
  border: 0px;
  margin-top: 0px;
  margin-bottom: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Monda', sans-serif;
}

.btn-view:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.btn-view:active {
  background-color: rgb(67, 67, 67) !important;
}

.footer-dark {
  background-image: url('../assets/bg-image.jpg') !important;
  background-color: whitesmoke;
  border: none !important;
  border-width: 0 !important;
}

h3 {
  text-align: center;
  color: black;
  font-family: 'Chonburi', serif;
  font-size: 30px;
}

.join {
  text-align: center;
}

.p-join {
  color: #000000;
}

.insta-logo {
  margin-bottom: 40px;
}

.insta-logo:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}

.footer-text {
  color:rgb(0, 0, 0);
  padding-bottom: 5px;
  font-family: 'Monda', sans-serif;
  font-size: 17px;
}

.footer-text:hover {
  color:rgb(118, 118, 118);
  text-decoration: underline;
}

.fwg-logo {
  width: 15%;
  margin-bottom: 20px;
}

.copyright {
  color:rgb(0, 0, 0);
  text-align: center;
  font-size: 15px;
  margin-top: 70px;
}